div.row {
    margin-left: 0px;
    margin-right: 0px;
}
div.content {
    padding: 0px !important
}

div.section {
    border: 1px solid #888;
    height: 100%;
    background: #eee;
}

div.heading {
    padding: 5px 10px;
    background: #ddd;
    height: 45px;
    border: 1px solid #ccc;
}

div.heading h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 5px;
    color: #444;
}

svg {
    margin: 10px;
    border: 1px solid #ddd;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    font-size: 2em;
}
.CodeMirror-scroll {
    height: 770px;
}
.CodeMirror pre {
    padding-left: 7px;
    line-height: 1.25;
}

.x-col {
    float: left;
    width: 50%;
    height: 890px;
    background: #ddd;
    border: 1px solid #aaa;
}
