div.row {
    margin-left: 0px;
    margin-right: 0px;
}
div.content {
    padding: 0px !important
}

div.section {
    border: 1px solid #888;
    height: 100%;
    background: #eee;
}

div.heading {
    padding: 5px 10px;
    background: #eee;
}

div#code-box {
    margin: 5px;
}

textarea {
    width: 100%;
    min-height: 600px;
    padding: 5px;
    font-size: 1.2em;
    font-family: 'Monaco', 'Courier New', Courier, monospace;
}

svg {
    margin: 10px;
    border: 1px solid #ddd;
}